/*fuentes*/

@font-face {
    font-family: myFirstFont;
    src: url(../../fonts/Christmas-Decor.otf);
}

/*animaciones*/
@keyframes aparecer {
    0%   {display: block;opacity:0;}
    100% {opacitiy:1;}
}

@keyframes desaparecer {
    0% {opacitiy:1;}
    100%   {display: none;opacity:0;}
}

@keyframes arrastrarIzquierdaADerecha {
    0%   {right:100%}
    100% {right:0%;}
}





html{
    background: #f2f2f2;
}
html *{
    margin:0;
    font-family: myFirstFont,sans-serif;
}
.container{
    display: block;
    max-width: 1224px;
    margin: auto;
}
header {
    height: 44px;
    padding: .5rem 3rem;
}
header h1 {
    width: 40%;
    display: inline-block;
}
header div{
    width: auto;
    float:right;
    text-align: center;
    font-size: 30px;
}
.main{
    position: absolute;
    left: 0;
    background: url("../../img/home.jpg") no-repeat;
    background-size:cover;
    background-position-y: 40%;
    width: 100%;
    height: 45vh;
    min-height: 410px;
    box-shadow: 0 0 20px 0 black;
}
.invisible{
    animation: desaparecer 3s ease-out;
    /*display:none;*/
}
.mainContent{
    color: white;
    text-align: center;
    padding: 3rem;
    width: calc(100% - 6rem);
    height: calc(100% - 6rem);
    background-color: rgba(0, 14, 25, 0.8);
}
.mainContent h2{
    font-size: 5rem;
    font-weight: 100;
    text-shadow: 2px 5px 5px black;
    transform: scale(1,1.5);
    -webkit-transform: scale(1,1.5);
    -moz-transform: scale(1,1.5);
    -ms-transform: scale(1,1.5);
    -o-transform: scale(1,1.5);
}
path {
    fill: none;
    stroke: white;
    stroke-width:4;
    stroke-dasharray: 34;
    transition: stroke-dasharray 1s ;
}
circle {
    fill: white;
    stroke: white;
    stroke-width: 11;
}

text {
    fill: white;
    stroke-width: 5px;
    font-family: cursive;
    font-size: 40px;
    color: white;
    cursor: pointer;
    text-shadow: 2px 5px 5px black;
}
.contenedorSVG{
    position: absolute;left:5%; margin-top: 2rem; text-align: left;transition: width ease-out 1s;
}
svg{
    width: 100%;
}
.mainModal{
    position: absolute;
    background: #f2f2f2;
    z-index:2;
    padding: 1rem 3rem 3rem;
    color: black;
    font-size: 2rem;
    width: calc(100% - 12rem);
    top: 150px;
    box-shadow: 4px 4px 20px 2px black;
    animation: aparecer .5s ease-out;
}

.mainModal .mainModalForm{
    width:calc(50% - 2.3rem);
    display:inline-block;
    padding:1rem;
    vertical-align:top;
    text-align:justify;
}
.mainModal .mainModalForm label{
    width: 100%;
    display: inline-block;
}
.mainModal .mainModalInfo{
    width:calc(50% - 2.3rem);
    display:inline-block;
    padding:1rem;
    vertical-align:top;
    text-align:justify;
}
.mainModal label span {
    display: inline-block;
    width: 40%;
}
.mainModal button {
    float: right;
    font-size: 2rem;
    padding: .5rem 2rem;
    border: none;
    color: white;
    background: #22587f;
}

/*flecha*/
.arrow_box {
    border: 4px solid #none;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_box.arrow1:after {
    left: calc(3% + 5px);
}
.arrow_box.arrow2:after {
    left: calc(20% + 5px);
}
.arrow_box.arrow3:after {
    left: calc(30% + 5px);
}
.arrow_box.arrow4:after {
    left: calc(60% + 5px);
}
.arrow_box.arrow5:after {
    left: calc(87% + 20px);
}
.arrow_box.arrow6:after {
    left: calc(98% + 5px);
}
.arrow_box:after {
    border-color: rgba(213, 196, 196, 0);
    border-bottom-color: #f2f2f2;
    border-width: 15px;
    margin-left: -15px;
}
.start{
    bottom: 65px;
    left: -20px;

}
.resetDispo{
    right: 40px;
    top: 7rem;
}
.mainGuide{
    position: absolute;
    font-size: 3rem;
    white-space: nowrap;
}
.extraInfo {
    position: absolute;
    background: white;
    z-index: 5;
    width: 50%;
    right: 100%;
    top: 16rem;
    padding: 3rem;
    font-size: 1.8rem;
    box-shadow: 4px 4px 20px 2px black;
    text-align: justify;
    transition: right ease-out 1s;
}
.clearlyClickable{
    transition:transform ease-out .5s;
    cursor:pointer;
    margin-right: 5%;
}

.closeModal{
    position: absolute;
    top: 60px;
    right: 15px;
}
.clearlyClickable:hover{
    transform: scale(1.3,1.3);
    -webkit-transform: scale(1.3,1.3);
    -moz-transform: scale(1.3,1.3);
    -ms-transform: scale(1.3,1.3);
    -o-transform: scale(1.3,1.3);
}
/*depurar*/